!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title BDD: conectando user stories con pruebas automáticas

    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')

    link(rel='stylesheet', type='text/css', href='styles/main.css')

  body

    article

      section.blue
        h1 Taller Kanban
        h2 Jaime García y Carlos Gil
      section.gray
        div
          img(src="img/analytic-board-logo.png")
          h1 Jaime Andrés García
          h2 CEO Ingenio Sólido - Analytic Board
        div.bt-right
          img(src="img/ingenio-solido-logo.png")


      section.white
        h1 Pero primero una historia ....

      section.dashboard
        .tint
          h1 Proyecto
          h2 Hardware + Web + Java + Data Visualization

      section.white
        h2 Situación
        h3 Deadline 1 mes
        h3 Alta complejidad
        h3 Recursos disponibles 3
        h3 Recursos necesarios 7
        h3 Perfil de los recursos faltantes: 4 Expertos en Java con más de 3 años de experiencia

      section.green
        h1 Ante esta situación, hay varias opciones ...

      section.panic
        .tint
          h1 1.Entrar en pánico

      section.green
        h1 2.Contratar 4 expertos en Java en Colombia

      section.red
        ul
          li
            h1 Realidad
          li
            h2 Es difícil encontrar 4 expertos colombianos en Java, disponibles para trabajar durante un mes

      section.blue
        ul
          li
            h1 Solución
          li
            h2 3.Contratación de freelancers expertos disponibles en el mundo

      section.white
        h2 Características de la contratación
        h3 Radicados en la India
        h3 Hablan inglés
        h3 Disponibilidad de 56 horas semanales

      section.chaos
        .tint
          h1 Cómo evitar el caos?

      section.white
        h2 Metodología
        h3 Scrum
        h3 Sprints de una semana
        h3 Explicar verbalmente historias de usuario
        h3 Historias de usuario con mayor detalle - Pasos, Escenarios y Criterios de Aceptación
        h3 Segmentación de las tareas para reducir complejidad

      section.complex
        .tint
          h1 Sin embargo, el proceso es bastante complejo...

      section.surprise
        .tint
          h1 Afortunadamente, uno de los desarrolladores tiene una buena idea


      section
        h2 Ejemplo de implementación
        hr
        code.language-javascript
          pre.
            // Descripción User Story

            // Paso 1

            funcionPaso1(param1,param2,...);

            // Comentario Resultado Esperado
            print(resultadoPaso1);

            // Paso 2

            funcionPaso2(param1,param2,...);

            // Comentario Resultado Esperado
            print(resultadoPaso2);

            // Paso 3 ...

      section.blue
        h1 Momento de Agregar Escenarios

      section
        h2 Ejemplo de implementación
        hr
        code.language-javascript
          pre.
            // Descripción User Story

            // Escenario 1

              // Paso 1
              funcionPaso1(param1,param2,...);
              print(resultadoPaso1);

              // Paso 2
              funcionPaso2(param1,param2,...);
              print(resultadoPaso2);

              // Paso 3 ..

            //Comentario Resultado Esperado Escenario 1
            print(resultadoEscenario1);

            // Escenario 2
                            .
                            .
                            .

            // Escenario 3 ..

      section.blue
        h1 Agregando nuevas condiciones en cada paso


      section
        h2 Ejemplo de implementación
        hr
        code.language-javascript
          pre.
            // Descripción User Story
            // Escenario 1
              // Paso 1
              funcionPaso1(param1,param2,...);
              print(resultadoPaso1);
              // Paso 2
                //Paso 2a
                funcionPaso2a(param1,param2,...);
                print(resultadoPaso2a);
                //Paso 2b
                funcionPaso2b(param1,param2,...);
                print(resultadoPaso2b);
              // Paso 3 ..
            //Comentario Resultado Esperado Escenario 1
            print(resultadoEscenario1);
            // Escenario 2
                            .
                            .
                            .
            // Escenario 3 ..

      section.wait
        .tint
          h1 Espera un minuto..

      section.red
        h2
          | No tengo tiempo para verificar si cada que se agrega un paso o condición, se
          span.important  rompe
          |  alguna funcionalidad

      section.green
        h1 Necesito automatizar el proceso...

      section.green
        h1
          | Necesito
          span.important  Pruebas Automáticas!!!
      section
        h2 Ejemplo de implementación
        hr
        code.language-javascript
          pre.
            // Descripción User Story
            // Escenario 1
              // Paso 1
              funcionPaso1(param1,param2,...);
              if(resultadoPaso1 != resultadoEsperadoPaso1)
                print("Falló Escenario1 Paso1");
              // Paso 2
                //Paso 2a
                funcionPaso2a(param1,param2,...);
                if(resultadoPaso2a != resultadoEsperadoPaso2a)
                  print("Falló Escenario1 Paso2a");
                //Paso 2b
                if(resultadoPaso2b != resultadoEsperadoPaso2b)
                  print("Falló Escenario1 Paso2b");
                            .
                            .
                            .
            // Escenario 2 ..

      section.happy
        .tint
          h1 Logramos cumplir con el objetivo. Celebración!!!!

      section.invention
        .tint
          h1 Un momento.... Será que acabamos de inventar algo?

      section.no
        .tint
          h1 No realmente

      //Invención
      // Explicación BDD
      // Beneficios BDD
      section.blue
        h1 Ya existe una metodología que sigue estos lineamientos...

      section.blue
        h1
          | Se llama
          span.important  Behaviour-Driven Development

      section.white
        h2 Esta basada en Test-Driven Development
        img(src="img/tdd-flow.gif")
        h4 Fuente: http://diogoosorio.com/blog/entry/test-driven-development-tdd-using-phpunit

      section.white
        h2 Behaviour-Driven Development
        img(src="img/bdd-flow.png")
        h4 Fuente: http://www.testingexcellence.com/automated-testing-help-behavior-driven-testing/

      section.blue
        h1
          | Parte del principio de construir una prueba que guíe el desarrollo en base del
          spna.important  comportamiento
          |  deseado

      section.blue
        ul
          li
            h1 En las metodologías ágiles, ya tenemos la descripción del comportamiento deseado...
          li
            h2.important Las historias de usuarios

      section.green
        ul
          li
            h1 Además, tenemos los criterios de aceptación de estas historias...
          li
            h2.important Los escenarios

      section
        h2 Estructura de la historia de usuario
        code.language-markup
          pre.
            Title (one line describing the story)

            Narrative:
            As a [role]
            I want [feature]
            So that [benefit]

            Acceptance Criteria: (presented as Scenarios)

            Scenario 1: Title
            Given [context]
            And [some more context]...
            When  [event]
            Then  [outcome]
            And [another outcome]...

            Scenario 2: ...
        h4 Fuente: http://dannorth.net/whats-in-a-story/


      section
        h2 Ejemplo de historia de usuario
        code.language-markup
          pre.
            Story: Account Holder withdraws cash
            As an Account Holder
            I want to withdraw cash from an ATM
            So that I can get money when the bank is closed

            Scenario 1: Account has sufficient funds
            Given the account balance is \$100
              And the card is valid
              And the machine contains enough money
            When the Account Holder requests \$20
            Then the ATM should dispense \$20
              And the account balance should be \$80
              And the card should be returned

            Scenario 2: Account has insufficient funds
            Given the account balance is \$10
              And the card is valid
              And the machine contains enough money
            When the Account Holder requests \$20
            Then the ATM should not dispense any money
              And the ATM should say there are insufficient funds
              And the account balance should be \$20
              And the card should be returned
        h4 Fuente: http://dannorth.net/whats-in-a-story/

      section
        h2 Ejemplo de BDD - Parte 1
        code.language-javascript
          pre.
            // Story: Account Holder withdraws cash
            // As an Account Holder
            // I want to withdraw cash from an ATM
            // So that I can get money when the bank is closed

            // Scenario 1: Account has sufficient funds

              // Given the account balance is \$100
              setAccountBalance(card,100);

              // And the card is valid
              setCardValidState(card,true);

              // And the machine contains enough money
              setMachineMoney(machine,1000000);


      section
        h2 Ejemplo de BDD - Parte 2
        code.language-javascript
          pre.
              // When the Account Holder requests \$20
              accountRequest = 20;

              // Then the ATM should dispense \$20
              atmValue = getMoneyFromATM(accountRequest,card,machine);
              if(atmValue==20) print("OK");
              else print("Fail");

              // And the account balance should be \$80
              accountBalance = getCurrentBalance(card);
              if(accountBalance==80) print("OK");
              else print("Fail");

              // And the card should be returned
              if(isCardReturned(card) == true) print("OK");
              else print("Fail");

      section.blue
        h1 Y qué me dices de la puesta en producción del sistema?

      section.surprise
        .tint
          h1 También se puede hacer automática

      section.white
        h1 Integración Continua
        img(src="img/continuos-integration.png")

      section.blue
        h1 ¿Eso quiere decir que se debe integrar todo cada que se hace un cambio en el código?

      section.nailed
        .tint
          h1 Así es

      section.white
        h1 Beneficios del uso de BDD y Continuos Integration
        h3 Comunicación entre los clientes y el personal técnico
        h3 Análisis de posibles soluciones - diseño ágil
        h3 Se reduce la afectación de código de otros desarrolladores
        h3 Aumento de calidad del producto
        h3 Validación directa de la historia del usuario
        h3 Facilidad para cambiar o actualizar módulos del sistema
        h3 Implementación e Integración Continua
        h3 Documentación Automática!!!

      section.red
        h1 Entonces que nos hace falta ...

      section.paradigm
        .tint
          h1 Cambiar el paradigma

      section.thankyou
        .tint
          h1 Muchas gracias por su atención

    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
